@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

* {
  font-family: 'Montserrat', Helvetica;
}

h3 {
  color: black;
  font-size: 26px;
  /* text-align: center; */
  font-weight: bold;
  margin-top: 3em;
}

h4 {

  color: black;
  font-size: 20px;
  text-align: left;
}

input:focus {
  outline:none !important;
}

.registerbtn {
  outline: none;
  background-color: #41a0f4;
  color: white;
  /* padding: 3px 3px; */
  margin: 0 auto;
  /* border: none; */
  cursor: pointer;
  /* border-radius: 5%; */
  border-width: 1px;
  /* width: 100%; */
  opacity: 0.8;
  font-size: 12pt;
}
.registerbtn:focus {outline:0;}

.registerbtn:hover {
  opacity: 1;
}

.generatebtn {
  outline: none;
  background-color: #41a0f4;
  color: white;
  padding: 4px 4px 4px 4px;
  margin: 0 auto;
  /* border: none; */
  cursor: pointer;
  border-radius: 8px;
  border-width: 1px;
  /* width: 100%; */
  opacity: 0.8;
  font-size: 12pt;

}
.generatebtn:focus {outline:0;}

.generatebtn:hover {
  opacity: 1;
}

/*  newly added */
.rmv_button {
  background-color: #ffffff;
  /* -moz-border-radius: 3px;
  -webkit-border-radius: 3px; */
  /* border-radius: 3px; */
  border: 0px solid #ffffff;
  cursor: pointer;
  /* color: #ffffff; */
  font-family: Arial;
  font-weight: 500;
  font-size: 22px;
  /* padding:1px 1px 2px 2px; */
  /* padding: 2px 2px 2px 2px; */
  /* margin-bottom: 2px; */
  /* text-decoration: none; */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
}

.rmv_button:hover {
  color: #ffffff;
  background-color: #d80202;
  border: 0px solid #ffffff;
  /* padding:1px 1px 1px 1px; */
}

.rmv_button:active {}

.rmv_button:focus {outline:0;}

.add_button {
  /* background-color: #77b55a; */
  border: 0px solid #ffffff;
  /* border-radius: 42px; */
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 22px;
  font-weight: 500;
  /* padding: 8px 12px; */
  text-decoration: none;
  /* border: none; */
  margin-left: 2pt
}

.add_button:hover {
  background-color: #72b352;
  color: #ffffff;
  border: 0px solid #ffffff;
}

.add_button:active {
  position: relative;
  top: 1px;
}
.add_button:focus {outline:0;}


.note {
  font-size: 12px;
  color: #999;
  margin-bottom: 4em;
}

.correlationsColumnNames {
  font-size: 10px;
}

.container {
  padding: 10px;
}

img {
  width: 100%;
}

.row {
  max-width: 950px;
  margin: 0 auto;
}

.row span {
  font-weight: bold;
}

.sliders p {
  margin: 0;
}

.slider {
  height: 120px;
  display: inline-block;
  /* margin-bottom: -30px; */
}

.filter {
  margin: 0 1em;
}

.centered {
  margin: 0 auto;
  text-align: center;
}

/* .question {
    background: white;
    border: 1px solid #808080;
    min-height:200px;
    margin-bottom:30px;
} */
.diagram {
  margin: 0 auto;
  text-align: center;
  /* border: 1px solid grey; */
  /* background: #EEE; */
}

#diagramCorrelations {
  width: 600px;
  height: 600px;
  margin-bottom: 50px;
}

.chartholder {
  /*width: 30%;*/
  margin-right: 3%;
  float: left;
  text-align: center;
  padding-bottom: 40px;
}

.chartholder h6 {
  font-family: Consolas;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

h6 {
  font-size: 20px;
  font-weight: bold;
  font-family: Consolas;
}

.text {
  font-size: 14px;
  font-weight: bold;
  font-family: Consolas;
}


.line {
  fill: none;
  stroke: #5b717c;
  stroke-width: 2px;
}

.dot {
  fill: #5b717c;
}


.toolTip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #069ea8;
  padding: 14px;
  text-align: center;
  font-size: 10px;
}

.states {
  fill: #5b717c;
}

.states :hover {
  fill: #ff6a00;
}

.state-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 0.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

.highlight {
  fill: #404040 !important;
}


html {
  font-family: Helvetica;
}

h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

p {
  font-size: 20px;
  line-height: 30px;
  margin: auto;
  margin-bottom: 5px;
}

a {
  font-size: 16px;
  text-decoration: none;
  color: black;
  line-height: 32px;
}

.main_box {
  width: 60%;
  margin: 0 auto;
}

.myFile {
  visibility: hidden;
  position: absolute;
}

.myBtn {
  background-color: black;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 20px;
}

.hide {
  display: none
}


.left_column {
  max-height: 100%;
  width: 20%;
  margin-left: 5%;
  top: 0;
  padding: 50px 0px;
  position: fixed;
}

.left_column:hover {
  overflow-y: auto;
}

.right_column {
  width: 70%;
  margin-left: 25%;
  margin-right: 5%;
  padding: 20px;

}

.frame {
  /* margin: 0 auto; */
  /* text-align: center; */
  width: 100%;
  border: black solid 3px;
}

.column_filter {
  border: 2px black solid;
  margin-right: 20%;
  padding: 10px;
}

.filtertitle {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

.groupname {
  display: inline;
  font-size: 18px;
  text-align: left;
  font-weight: bold;
  line-height: 36px;
}

.filename {
  font-size: 12px;
  text-decoration: underline;
}

label.column_name {
  font-size: 14px;
  text-align: left;
  line-height: 24px;
  font-weight: normal;
}

.column_checkbox {
  float: right;
}

.vis {
  padding-bottom: 50px;
}

.tab {
  color: black;
  /* text-decoration: underline; */
}

.change {
  float: right;
  text-decoration: none;
  color: black;
  font-size: 30px;
}

.change:focus,
.change:hover {
  text-decoration: none;
  color: black;
}

h2 {
  font-size: 36px;
  margin-bottom: 5px;
}

.ov_label_title {
  padding-left: 2%;
  padding-right: 2%;
}

.ov_row_head {
  border-top: black solid 15px;
  margin-left: 2%;
  margin-right: 2%;
  height: 50px;
  width: 96%;
  display: table;
}

.ov_row {
  border-top: black solid 1px;
  margin-left: 2%;
  margin-right: 2%;
  height: 70px;
  width: 96%;
  display: table;
  cursor: pointer;
}

.ov_cell {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
}

.mattr {
  width: 17%;
}

.mmean {
  width: 49%;
}

.attr {
  width: 20%;
}

.hg {
  width: 30%;
}

.max {
  width: 9%;
}

.min {
  width: 9%;
}

.mean {
  width: 9%;
}

.nul {
  width: 11%;
}

.uniq {
  width: 12%;
}

.ov_block_select {
  background-color: #e5e5e5;
  transition: all 0.5s ease;
}

.ov_block_select::after {
  background-color: none;
  transition: all 0.5s ease-in-out;
}